<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta charset="UTF-8" />
    <script
      src="https://cdn.tiny.cloud/1/y16002q3bh0dat4uao0pcxu9d7i5dkgyr1sc1vm78tcvpgyu/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <link rel="icon" href="favicon.png" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      crossorigin="anonymous"
      href="<%= htmlWebpackPlugin.options.bootStrapCss %>"
    />
  </head>

  <body>
    <div id="app"></div>
    <!-- <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.popper %>"></script>
    <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.axios%>"></script>
    <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.bootstrap%>"></script>
    <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.redux %>"></script>
    <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.react%>"></script>
    <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.reactRedux %>"></script>
    <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.reactDom %>"></script>
    <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.reactRouterDom %>"></script>
    <script crossorigin="anonymous" src="<%= htmlWebpackPlugin.options.reactBootstrap %>"></script> -->
    <!--Webpack needs to place the built files here-->
    <script>
      window.global = window;
    </script>
  </body>
</html>
